{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/film_detail.css">

<div class="film-detail">
    <div class="film-poster">
        <img src="{{ url_for('static', filename=film.poster_path) if not film.poster_path.startswith('http') else film.poster_path }}"
            alt="{{ film.title }}">
    </div>

    <div class="film-info">
        <h1>{{ film.title }}</h1>
        <p><strong>Режиссер:</strong> {{ film.director }}</p>
        <p><strong>Сценарист:</strong> {{ film.screenwriter }}</p>
        <p><strong>Рейтинг:</strong> {{ film.average_rating }}/10</p>
        <p><strong>Длительность:</strong> {{ film.duration }}</p>
        <p><strong>Премьера:</strong> {{ film.premiere }}</p>

        <div class="film-description">
            <h3>Описание</h3>
            <p>{{ film.description }}</p>
        </div>
        <div class="form-group">
            <a href="{{ url_for('edit_film', film_id=film.id) }} " button" class="btn btn-secondary">Редактировать</a>
            <a href="{{ url_for('review', film_id=film.id) }} " button" class="btn btn-secondary">Написать отзыв</a>
        </div>
    </div>
</div>
<div class="review">
    {% for review, username in reviews_with_users %}
    <img src="/static/img/6522516.png" style="height: 25px; padding-right: 5px;">{{ username }}<br>
    Оценка: <span style="color: #e67e22; font-weight: bold;">{{ review.review_rating }}/10</span>
    <div class="review-text">{{ review.review }}</div>
    {% endfor %}
</div>

{% endblock %}