<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>{{ title }}</title>

<div class="container">
    <div class="card">
        <h2>Регистрация</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {% if message %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
            <form>
                <div class="form-group">
                    {{ form.username(class="form-control", placeholder="Имя пользователя") }}
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="Почта") }}
                    {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control", placeholder="Пароль") }}
                    {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                {{ form.submit(class="btn btn-primary") }}

                <div class="no-account">
                    <a href="/login">Уже есть акканут?</a>
                </div>
            </form>
    </div>
</div>